language: python
python:
  - "2.7"
  - "3.3"

before_install:
  - ./build_etcd.sh v2.1.2
  - pip install --upgrade setuptools

# command to install dependencies
install: 
  - python bootstrap.py
  - bin/buildout

# command to run tests
script:
  PATH=$PATH:./etcd/bin bin/test

# Add env var to detect it during build
env: TRAVIS=True
