[buildout]
parts = python
      sphinxbuilder
      test
develop = .
eggs = 
     urllib3==1.7
     pyOpenSSL==0.13.1
     dnspython==1.12.0

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

[test]
recipe = pbp.recipe.noserunner
eggs = ${python:eggs}
     mock

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs-source
build = ${buildout:directory}/docs
