Source: aioetcd
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 9),
  python3-pytest,
  python3-aiohttp,
  etcd (>= 2.2),
Standards-Version: 3.9.1

Package: python3-aioetcd
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Recommends: etcd (>= 2.2)
Description: Asynchronous python client for etcd
 This is an asyncio-compatible python client for Etcd (https://github.com/coreos/etcd).

